*{
    outline: none;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #eee;
}
main{
    height: calc(100vh - 56px);
}
p{
    padding: 0.5em;
    display: block;
}
.header{
    width: 100%;
    background-color: #fff;
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
    height: 55px;
}
.icon-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.75em;
    transition: opacity 0.5s;
}
.icon-button:hover{
    opacity: 0.7;
}
.list{
    width: 25%;
    min-width: 12em;
    max-height: calc(100vh - 56px - 1.5em);
    overflow: auto;
}
.list + .list{
    margin-left: 0.75em;
}
.item{
    background-color: #fff;
}
textarea + .item, textarea + .drag-preview{
    padding-top: 0.75em;
}
textarea + .item + textarea, .drag-preview + .item {
    margin-top: 0.75em;
}
#add-list{
    margin: 0.5em;
    font-size: 2.5em;
    color: #fff;
}
.add-item{
    padding: 0;
}
.back-button{
    font-size: 1.25em;
    margin-left: -0.5em;
    padding-right: 1em;
}
.header > div{
    display: flex;
    align-items: center;
}
input[type = text]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-left: -1px;
}
textarea{
    width: 100%;
    font-size: 0.95em;
    padding: 0.5em;
    resize: vertical;
}
.input-error{
    border-bottom: 2px solid red !important;   
}
#project-title-input{
    font-size: 1.15em;
    font-weight: bold;
}
.list-title-input{
    font-size: 1em;
    font-weight: bold;
    width: 100%;
}
p{
    width: 100%;
    overflow-wrap: break-word;
}
.dashed{
    border: 1px dashed #ccc;
    padding: 1.05em;
    border-radius: 3px;
}
.list-button {
	justify-content: end;
}
.list-button + .list-button{
    border-top: 1px solid #eee;
}
.list-button:hover{
    background-color: #f8f8f8;
}
.list-button .icon-button{
	font-size: 1.5em;
	padding: 15px !important;
}
.project-button{
    width: 100%;
    cursor: pointer;
    border: none;
    font-size: 1em;
	background-color: transparent;
	color: #FF4B2B;
}
.modal-submit {
	text-align: center;
}
.modal-container{
	background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#modal-bg{
    background-color: #323232;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: relative;
}
.modal-header {
	display: flex;
}
.modal-header h4 {
	width: 80%;
	text-align: left;
}
.modal-header .icon-button {
	font-size: 1em !important;
}
.modal-header button {
	width: 20%;
	text-align: right;
	padding: 0 !important;
}
.modal{
    position: absolute;
    max-width: 90%;
}
.modal p{
    color: #494949;
    line-height: 1.5em;
}
.link{
    border: none;
    font-size: 0.95em;
    cursor: pointer;
    color: rgb(0, 132, 255);
    background-color: transparent;
}

.link:hover{
    opacity: 0.9;
}

.link + .link{
    margin-left: 1em;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

#signUpForm, #signInForm {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

/** Style for header */
.nav-main .nav-link {
	margin: 15px 20px;
}
.nav-main .nav-link:hover {
	color: #FF4B2B;
}

/** Style for Account page */
.acc-form {
	padding: 10px 25px;
}
.account-header {
	text-align: center;
	padding: 15px;
}

/** Style for project page */
.prj-title {
	text-transform: uppercase;
} 

/** Style for search form */
.search-filter {
	width: 80%;
	background: rgba(0, 0, 0, 0.5);
    padding: 12px;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin: 50px auto;
}
.filter-field{
	width: 22%;
}
.filter-field input, select {
	height: 40px;
    background: #fff;
    border-radius: 0;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    color: #555;
    font-weight: 400;
}
.search-btn {
	width: 10%;
}
.search-btn button {
	height: 40px;
    border-radius: 0;
    border: 0;
    display: block;
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
}
#add-project {
	padding: 0 !important;
}

/** Style for function page */
.check-user {
	height: 40px;
    background-color: white;
    display: flex;
    width: 65% !important;
    align-items: center;
    padding: 10px;
}
.check-user input {
	height: 20px;
	width: 30px;
}
.checkbox {
	width: auto;
    align-items: center;
    display: flex;
    margin-right: 10px;
}
.check-title {
	margin-right: 10px;
    font-size: 16px;
    color: #555;
}
.table-container {
	width: 80%;
}
.table-container table {
	margin: 0;
    width: 100%;
}
.table-container table .table-header {
	background-color: #555;
    color: white;
    font-size: 20px;
    font-weight: 800;
}
tr {
	width: 50%;
}
td {
	padding: 5px 10px;
}